.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 200px;
}
.J{
    padding-right: 350px;
}
.E{
    padding-left: 350px;
}
.else{
    text-align: center;
}
.Break{
    display: flex;
    flex-direction: column;
    background-color: rgb(153, 175, 196);
    color:  rgb(79, 16, 24);
    justify-content: center;
    text-align: center;
    left: 0%;
    right: 0%;
    padding: 20px;
}
.Registry{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    height: auto;
    left: 0%;
    right: 0%;
    padding: 20px;
}
.Venmo{
    display: flex;
    flex-direction: column;
    background-color: rgb(79, 16, 24);
    color :rgb(153, 175, 196);
    justify-content: center;
    text-align: center;
    left: 0%;
    right: 0%;
    padding: 20px;
}
.Choices{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}